/* P1.HTML CODE */
/* NAVIGATION BAR */
*{
    padding: 0%;
    margin: 0%;
}
header{
    background-color: #808080;
}
header>nav>img{
    height: 64px;
}
header>nav>ul{
    list-style-type: none;
    float: right;
}
header>nav>ul>li{
    display: inline-block;
    padding: 25px;
}
header>nav>ul>li>a{
    color: #fff;
    text-decoration: none;
}
header>nav>ul>li:hover a{
    color: #808080;
}
header>nav>img{
    height: 64px;
}
header>nav>ul{
    list-style-type: none;
    float: right;
}
header>nav>ul>li{
    display: inline-block;
    padding: 25px;
}
header>nav>ul>li:hover{
    background-color: #fff;
}
header>nav>ul>li>a{
    color: #fff;
    text-decoration: none;
}
header>nav>ul>li:hover a{
    color: #808080;
}

/*  P2.HTML CODE */
.commonBanner{
    height: 300px;
    text-align: center;
    color: #fff;
    padding: 20px;
}
.commonBanner>div{
    background-color: rgba(0,0,0,0.3);
    padding: 50px;
    line-height: 2;
    display: inline-block;
    
    box-shadow: -2px -2px 6px #000 ,2px 2px 6px #000;
}
.commonBanner>div>h1{
    font-size: 60px;
    text-shadow: 3px 3px 3px #000;
}
.banner1{
    background-color: teal;
}
/* P23.HTML CODE */
.banner2{
    background-image: url(../images/desktop.mp4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* P4.HTML CODE */
.banner3{
    background: linear-gradient(orange, white, green);
}
/* P5.HTML CODE */
.banner3{
    background-color: repeating-linear-gradient(45deg, red, green 50%);
}
/* P6.HTML CODE */
.banner5{
    background: url(../images/desktop.mp4)no-repeat left, url(../images/mobile.mp4) no-repeat right ;
    background-size: contain;
}
/* P7.HTML CODE */
.banner6{
    background: linear-gradient(rgba(0, 217, 255, 0.6), rgba(0, 128, 0, 0.6), url(../images/desktop.mp4)no-repeat center);
    background-size: 100%;
}
/* P8.HTML CODE */
.banner{
    background: -o-linear-gradient(black, red);
    background: -moz-linear-gradient(yellow, red);
    background: -webkit-linear-gradient(yellow, black);
    background: linear-gradient(orange, white, green);
    

}

/* P9.HTML CODE */
.banner9{
    background-color: #808080;
    text-align: left;
    line-height: 2;
}
.common{
    height: 400px;
    width: 300px;
    border: 2px solid #ccc;
    margin: 30px;
    padding: 30px;
}
.example-1{
    background: radial-gradient(orange, white, green);
}
.example-2{
    background: radial-gradient(orange, white, green);
}
.example-3{
    background: radial-gradient(circle farthest-side at left bottom,orange, white, green);
}
.example-4{
    background: radial-gradient(orange, white, green);
}